.warranty-popup-panel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 9999;
  font-family: "Roboto";
}

#elipse {
  position: relative;
  border-radius: 100%;
  border: 15px solid #261132;
  width: 80%;
  height: 80%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #261132;
}

#elipse .timebox {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 1.5em;
}

.delete.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media only screen and (max-device-width: 1555px) {

  #elipse .timebox {
    font-size: 1.5em;
  }
}

@media only screen and (max-device-width: 1235px) {

  #elipse .timebox {
    font-size: 1.25em;
  }
  
}

@media only screen and (max-device-width: 992px) {

  #elipse {
    border: 12px solid #261132;
  }
  #elipse .timebox {
    height: 13%;
    font-size: 0.5em;
  }

}

@media only screen and (max-device-width: 525px) {

  #elipse {
    border: 10px solid #261132;
  }
  #elipse .timebox {
    font-size: 0.4em;
  }
}