.detail_container input,
.detail_container textarea,
.detail_container select{
    color: #261132 !important;
}

#addButton{
    margin: 2em 1em 1em 1em;
    padding: 0px;
    max-width: 40em;
    background: #076478;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    line-height: 4.5em;
    letter-spacing: 0.25em;
    font-family: "Inter";
    border: none;
    width: 10em;
}

.detail_container textarea{
    width: 80%;
    height: 100%;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    color: white;
    margin: auto;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}


.product_add_form{
    height: 55em;   
    width: inherit;
    backdrop-filter: blur(4px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: unset;
    justify-content: space-evenly;
    font-family: Inter;
  }
  
  .product_add_form .detail_container {
      width: 100%;
      max-width: 40em;
      height: 12%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }
  .product_add_form .detail {
    width: 80%;
    height: 60%;
    border: 0.5px solid #ffffff;
    border-radius: 25px;
    color: white;
    margin: auto;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
  }
  
  .product_add_form .detail_name {
    height: 1em;
    width: 80%;
    color: white;
    margin-top: 0px;
    letter-spacing: 3px;
  }
  
  @media only screen and (max-device-width: 992px) {
      .product_add_form {
          height: 17em;   
      }
      .product_add_form .detail_container{
          max-width: 15em;
      }
      .product_add_form .detail {
          border-radius: 18px;
          font-size: 0.3em;
      }
      .product_add_form .detail_name {
          font-size: 0.25em;
      }
  }