

#detail_description{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto 0 auto !important;
  width: 100%;
  height: 100% !important;
  box-sizing: border-box;
  white-space: pre-wrap; 
  word-wrap: break-word; 
}
#detail_description_container{
    height: 30% !important;
}
#detail_description_name{
    padding-top: 0.5vh;
    height: unset !important;
}

.product-popup-panel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  z-index: 9999;
  font-family: "Roboto";
  overflow: auto;
  height: 95%;
  -ms-overflow-style: none;  /* Ukrycie paska przewijania w Internet Explorerze i Edge */
  scrollbar-width: none;
}

.productHeader{
    display: flex;
}

.product-header-one,
.product-header-two,
.opinion-header
{
  margin: 0em 0em 0.5em 0em;
  height: unset;
}
.product-header-two{
  justify-content: flex-end;
}
#detail_barcode{
  border: none !important;
  
}
#clock{
  background: white !important;
}

.product_ratings {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Trzy kolumny */
    grid-template-rows: repeat(2, auto); /* Trzy wiersze, automatyczna wysokość */
    gap: 0; /* Odstęp między elementami */
  }

.rating_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.product_ratings .rating_container .detail{
    height: 4em !important;
    width: 4em !important;
    border-radius: 40% !important;

}
.product_ratings .rating_container .detail_name{
    text-align: center;
    padding-top: 4px;
}

  
  .rating_container:nth-child(1) {
    grid-column: 5; /* Overall Rating */
    grid-row: 1;
  }
  
  .rating_container:nth-child(2) {
    grid-column: 4; /* Durability Rating */
    grid-row: 2;
  }
  
  .rating_container:nth-child(3) {
    grid-column: 3; /* Price Rating */
    grid-row: 1;
  }
  
  .rating_container:nth-child(4) {
    grid-column: 2; /* Capabilities Rating */
    grid-row: 2;
  }
  
  .rating_container:nth-child(5) {
    grid-column: 1; /* Design Rating */
    grid-row: 1 ;
  }

  @media only screen and (max-device-width: 1235px) {
  

}
